{% extends 'base.html' %}
{% block content %}

    <h3>作業内容の編集</h3>
        
<form action="/edit/tasklist_niwa/{{id}}" method="POST">
    <div class="Form">
        <div class="Form-Item">
            <input type="hidden" value="{{task_list['taskid']}}" name = "taskid">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>作業実施日</p>
            <input type="date" name="date" value="{{task_list['date']}}" class="Form-Item-Input">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>作業内容</p>
            <input type="text" name="task" value="{{task_list['task']}}" class="Form-Item-Input">
        </div> 
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>写真のリンク</p>
            <input type="url" name="photo" value="{{task_list['photo']}}" class="Form-Item-Input" placeholder="例）https://">
        </div> 
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required"></span>次回通知<br>年/月/日</p>
            <input  type="date" name="notice" value="{{task_list['notice']}}" class="Form-Item-Input">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>通知要否<br>0:要/1:不要or済み</p>
            <input name="nt_id" type="integer" value="0" class="Form-Item-Input">
        </div>
    </div>
        <p><input type="submit" value="送信" class="btn1"></p>
</form>

<div class="btn_top1">
    <a href="/index" type="button" class="btn5">トップに戻る</a>
</div>  

{% endblock %}